{% extends "base.html" %}

{% block content %}

<h1>Dashboard</h1>

<div style="margin-top:30px; display:flex; gap:20px; flex-wrap:wrap;">

    <a href="/ui/customers/new">
        <button style="padding:20px; font-size:16px;">
            ➕ Create Customer
        </button>
    </a>

    <a href="/ui/customers">
        <button style="padding:20px; font-size:16px;">
            👥 View Customers
        </button>
    </a>

    <a href="/ui/search">
        <button style="padding:20px; font-size:16px;">
            🔎 Search Customer / Invoice
        </button>
    </a>

</div>

{% endblock %}